.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-space {
    flex: 1 1 auto;
}

.header-buttons {
    display: flex;
    gap: 8px;
}

.content-container {
    margin: 16px;
    flex: 1;
}